@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Sansita:wght@800&display=swap');

body {
	background-color: #596886;
}

header {
	color: #ffd5af;
	font-family: "Sansita", sans-serif;
}

.navbar-brand {
	color: #ffd5af !important;
}

.jumbotron{
  background-image: url('./assets/chalkboard_texture.jpg');
  font-family: 'Amatic SC', cursive;
}

.jumbotron h3{
  font-size: 5em;
  font-weight: 700;
}

.App {
	text-align: center;
}

.btn-color {
	color: #ffd5af;
	border-color: #6c757d;
}
